In [1]:
# Step(1): Importing Libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [10]:
# Step(2); Loading iris dataset
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
# Step(3): Dropping the "Species" column
iris = iris.drop(labels = 'species', axis = 1)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [13]:
# Step(4) Adding two more columns
iris['sepal_sum'] = iris['sepal_length'] + iris['sepal_width']
iris['petal_sum'] = iris['petal_length'] + iris['petal_width']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum  petal_sum
0           5.1          3.5           1.4          0.2        8.6        1.6
1           4.9          3.0           1.4          0.2        7.9        1.6
2           4.7          3.2           1.3          0.2        7.9        1.5
3           4.6          3.1           1.5          0.2        7.7        1.7
4           5.0          3.6           1.4          0.2        8.6        1.6

In [39]:
from pandas.core.describe import DataFrameDescriber
# Step(5) Create a new data frame with the summary stats

mean = [np.mean(iris['sepal_length']), 
        np.mean(iris['sepal_width']), 
        np.mean(iris['sepal_sum']),
        np.mean(iris['petal_length']),
        np.mean(iris['petal_width'])]

std = [np.std(iris['sepal_length']),
       np.std(iris['sepal_width']),
       np.std(iris['sepal_sum']),
       np.std(iris['petal_length']),
       np.std(iris['petal_width'])]

min = [np.std(iris['sepal_length']),
       np.std(iris['sepal_width']),
       np.std(iris['sepal_sum']),
       np.std(iris['petal_length']),
       np.std(iris['petal_width'])]

max = [np.std(iris['sepal_length']),
       np.std(iris['sepal_width']),
       np.std(iris['sepal_sum']),
       np.std(iris['petal_length']),
       np.std(iris['petal_width'])]
                   


summary_dict = {'mean':mean}
summary_dict.update({'std':std})
summary_dict.update({'min':min})
summary_dict.update({'max':max})


summary_df = pd.DataFrame(data = summary_dict)
summary_df = pd.DataFrame(summary_dict, index = ['sepal_length', 'sepal_width', 'sepal_sum', 'petal_length', 'petal_width'])
summary_df

                  mean       std       min       max
sepal_length  5.843333  0.825301  0.825301  0.825301
sepal_width   3.057333  0.434411  0.434411  0.434411
sepal_sum     8.900667  0.886303  0.886303  0.886303
petal_length  3.758000  1.759404  1.759404  1.759404
petal_width   1.199333  0.759693  0.759693  0.759693